body {
  margin: 100px;
  padding: 80px;
  background-color: rgba(0, 0, 0, 0.4);
}
.main {
  display: flex;
  justify-content: center;
}
.forum-category {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: beige;
}
.category {
  margin: 5px;
  padding: 5px;
  display: grid;
  justify-content: center;

  color: beige;
}
.category-links a {
  list-style: none;
  color: lightcyan;
  font-size: 25px;
  text-decoration: none;
  width: 100px;
  height: 50px;
}
.category-links {
  list-style: none;
}
