.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  padding: 0 30px;
  background-color: transparent;
  box-shadow: 0 5px 15px rgb(67, 42, 5);
  width: 95%;
  height: 80px;
  border-radius: 13px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
}

.navbar-logo img {
  height: 50px;
}

.navbar-links {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  align-items: center;
  text-align: center;
  justify-content: end;
  /* display: flex;
  list-style: none; */
}

.navbar-links li {
  margin-right: 20px;
}

.navbar-links a {
  text-decoration: none;
  color: #333;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger .line {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 5px;
  transition: transform 0.3s ease-in-out;
}

.burger .line-1 {
  transform: rotate(45deg) translate(5px, 5px);
}

.burger .line-2 {
  opacity: 0;
}

.burger .line-3 {
  transform: rotate(-45deg) translate(5px, -5px);
}

@media screen and (max-width: 768px) {
  .navbar-links {
    display: none;
  }

  .burger {
    display: block;
  }

  .navbar-links.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #f1f1f1;
    padding: 20px;
  }

  .navbar-links.active li {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
